<!-- begin:: Page -->
<div id="wrap-page">
	<!-- begin:: Header -->
	<app-header></app-header>
	<!-- end:: Header -->
	
	<!-- begin:: Content -->
	<router-outlet></router-outlet>
	<!-- end:: Content -->

	<!-- begin:: Footer -->
	<app-footer></app-footer>
	<!-- end:: Footer -->
</div>
<!-- end:: Page -->
