<!-- comingsoon starts -->
<section class="comingsoon">
    <div class="container">
        <div class="content">
            <div class="coming-title mar-bottom-50">
                <img src="/assets/images/logo.png" alt="Image">
                <h2>Nhận ngay <span>Mã giảm giá 150.000 vnd</span></h2>
                <p>Our website is under construction.<br />
                We will be here soon with our awesome new site, subscribe to be notified.</p>
            </div>

            <form class="mar-bottom-50" [formGroup]="form">
                <div class="form-group">
                    <input class="input-01" placeholder="Enter your number phone" formControlName="phone">
                </div>                    
                <a href="#" class="btn btn-orange">GET CODE</a>
            </form>

            <div class="coming-counter coming-counter-1 mar-bottom-50" data-date="2020-08-31 00:00:00">
                <div class="counter-box"><span class="days"></span> Days</div>
                <div class="counter-box"><span class="hours"></span> Hours</div>
                <div class="counter-box"><span class="minutes"></span> Minutes</div>
                <div class="counter-box"><span class="seconds"></span> Seconds</div>
            </div>
            
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- comingsoon Ends -->

<!-- about us starts -->
<section class="about-style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-heading">
                    <h2 class="title">Comfort are perfectly combined here</h2>
                    <div class="description">
                        <p>This charming private 19th century mansion, which originally belonged to the family, has been completely renovated with care &amp; passion while respecting the spirit of place.</p>
                        <p>Hotux Hotel surrounded herself by a team of French artisans to create a sophisticated place in a refined.</p>
                    </div>
                    <div class="head-button">
                        <a href="about-us.html" class="btn btn-orange">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img-box row">
                    <div class="col-sm-6  col-sm-6 col-xs-6">
                        <a href="#"><img src="/assets/images/aboutus1.jpg" alt=""></a>
                    </div>
                    <div class="col-sm-6 col-sm-6 col-xs-6">
                        <a href="#"><img src="/assets/images/aboutus2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us Ends -->

<!-- Services Starts -->
<section class="services service-style-1">
    <div class="container">
        <div class="section-title">
            <h2>Types of <span>Rooms</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor vulputate quam donec vitae consectetur turpis</p>
        </div>
        <div class="service-outer">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                    <div class="service-item">
                        <div class="service-image">
                            <img src="/assets/images/room-type/101/101_C2.png" alt="Image">
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Room Type 1</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                    <div class="service-item">
                        <div class="service-image">
                            <img src="/assets/images/room-type/102/102_C1.png" alt="Image">
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Room Type 2</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                    <div class="service-item">
                        <div class="service-image">
                            <img src="/assets/images/room-type/201/201_TT.png" alt="Image">
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Room Type 3</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="service-image">
                            <img src="/assets/images/room-type/202/202_C1.png" alt="Image">
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Room Type 4</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="service-image">
                            <img src="/assets/images/room-type/301/301_C1.png" alt="Image">
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Room Type 5</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="service-image">
                            <img src="/assets/images/room-type/302/302_C3.png" alt="Image">
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Room Type 6</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Ends -->