<!-- banner starts -->
<section class="banner">
    <div class="slider video-slider">
        <div class="banner-outer">
            <div class="video-banner">
                <video autoplay loop id="vid">
                    <source src="/assets/images/ezgif.com-crop.mp4" type="video/mp4">
                </video>
            </div>
            <div class="video-banner-content swiper-content">
                <div class="slider-logo">
                    <img src="/assets/images/icons/bed-logo.png" alt="Image">
                </div>
                <h3 data-animation="animated fadeInUp">The lap of Luxury</h3>
                <h1 data-animation="animated fadeInUp">Welcome to <span>Hotel Hotux</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget odio odio. Aliquam laoreet eleifend orci, ut dignissim tellus.</p>  
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <div class="banner-form form-style-1">
        <div class="container">
            <div class="form-content text-center">
                <div class="table-item">
                    <label>Check In</label>
                    <div class="form-group form-icon">
                        <select class="niceSelect">
                            <option value="1">05/Jan</option>
                            <option value="2">06/Jan</option>
                            <option value="3">07/Jan</option>
                            <option value="4">08/Jan</option>
                            <option value="5">09/Jan</option>
                        </select>
                    </div>
                </div>
                <div class="table-item">
                    <label>Check Out</label>
                    <div class="form-group form-icon">
                        <select class="niceSelect">
                            <option value="1">05/Jan</option>
                            <option value="2">06/Jan</option>
                            <option value="3">07/Jan</option>
                            <option value="4">08/Jan</option>
                            <option value="5">09/Jan</option>
                        </select>
                    </div>
                </div>
                <div class="table-item">
                    <label>Guests</label>
                    <div class="form-group form-icon">
                        <select class="niceSelect">
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                        </select>
                    </div>
                </div>
                <div class="table-item">
                    <label>Nights</label>
                    <div class="form-group form-icon">
                        <select class="niceSelect">
                            <option value="1">05</option>
                            <option value="2">06</option>
                            <option value="3">07</option>
                            <option value="4">08</option>
                            <option value="5">09</option>
                        </select>
                    </div>
                </div>
                <div class="table-item">
                    <div class="form-btn mar-top-35">
                        <a class="btn btn-orange">Check Availability</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner Ends -->

<!-- About Us Start -->
<section class="about-us">
    <div class="container">
        <div class="section-title">
            <h2>About <span>Us</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor vulputate quam donec vitae consectetur turpis</p>
        </div>
        <div class="about-outer">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <h3 class="mar-bottom-30">Finest and Luxurious Hotel in the Town</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius iaculis gravida. Nunc vel maximus libero. Quisque ligula nisi, hendrerit et scelerisque et, scelerisque vitae magna. Integer sollicitudin, ex auctor iaculis tempor, mauris odio accumsan odio.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius iaculis gravida. Nunc vel maximus libero. Quisque ligula nisi, hendrerit et scelerisque et, scelerisque vitae magna. Integer sollicitudin, ex auctor iaculis tempor, mauris odio accumsan odio.</p>
                        <a class="btn btn-orange mar-top-10">KNOW MORE ABOUT US <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-image">
                        <div class="image-box">
                            <div class="image-1 abt-image">
                                <img src="/assets/images/about1.jpg" alt="image">
                            </div>
                            <div class="image-2 abt-image">
                                <img src="/assets/images/about2.jpg" alt="image">
                            </div>
                        </div>
                        <div class="image-box">
                            <div class="image-3 abt-image">
                                <img src="/assets/images/about3.jpg" alt="image">
                            </div>
                            <div class="image-4 abt-image">
                                <img src="/assets/images/about4.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Ends -->

 <!-- Rooms starts -->
 <section class="rooms">
    <div class="container">
        <div class="section-title">
            <h2>Explore <span>Rooms</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor vulputate quam donec vitae consectetur turpis</p>
        </div>
        <div class="room-outer">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="room-item">
                        <div class="room-image">
                            <img src="/assets/images/room1.jpg" alt="image">
                        </div>
                        <div class="room-content">
                            <div class="room-title">
                                <h4>Super Deluxe</h4>
                                <p>$1200/Night</p>
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                            <div class="room-services mar-bottom-15">
                                <ul>
                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                    <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                            <div class="room-btns mar-top-20">
                                <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                <a href="#" class="btn btn-orange">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="room-item">
                        <div class="room-image">
                            <img src="/assets/images/room2.jpg" alt="image">
                        </div>
                        <div class="room-content">
                            <div class="room-title">
                                <h4>Junior Suite</h4>
                                <p>$1200/Night</p>
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                            <div class="room-services mar-bottom-15">
                                <ul>
                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                    <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                            <div class="room-btns mar-top-20">
                                <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                <a href="#" class="btn btn-orange">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="room-item">
                        <div class="room-image">
                            <img src="/assets/images/room3.jpg" alt="image">
                        </div>
                        <div class="room-content">
                            <div class="room-title">
                                <h4>Executive Suite</h4>
                                <p>$1200/Night</p>
                                <div class="deal-rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                            <div class="room-services mar-bottom-15">
                                <ul>
                                    <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                    <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                            <div class="room-btns mar-top-20">
                                <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                <a href="#" class="btn btn-orange">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-btn">
            <a href="#" class="btn btn-black mar-right-10">EXPLORE ALL ROOMS <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>
</section>
<!-- Room Ends -->