<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-logo text-center">
                <img src="/assets/images/logo.png" alt="Image">
            </div>
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-about">
                            <h4>Company Info</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius tellus vitae justo blandit ultrices.</p>
                        </div>
                        <div class="footer-payment">
                            <h4>We Accept</h4>
                            <ul>
                                <li><img src="/assets/images/icons/visa.png" alt="image"></li>
                                <li><img src="/assets/images/icons/mastercard.png" alt="image"></li>
                                <li><img src="/assets/images/icons/americanexpress.png" alt="image"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="quick-links">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="Rooms">
                            <h4>Rooms</h4>
                            <ul>
                                <li><a href="#">Single Rooms</a></li>
                                <li><a href="#">Double Rooms</a></li>
                                <li><a href="#">Studio Rooms</a></li>
                                <li><a href="#">Kingsize Rooms</a></li>
                                <li><a href="#">Presidentsuite Rooms</a></li>
                                <li><a href="#">Luxury Kings Rooms</a></li>
                                <li><a href="#">Connecting Rooms</a></li>
                                <li><a href="#">Murphy Rooms</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-contact">
                            <h4>Contact info</h4>
                            <ul>
                                <li>Tel: 977-222-444-6666</li>
                                <li>Email: info@hotux.com.np</li>
                                <li>Fax: 977-222-444-666</li>
                                <li>Address: 445 Mount Eden Road, Sundarbasti, Chakrapath</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright-content">
                        <p>Copyright 2019. Made with <span>♥</span>. All Rights Reserved. <a href="#">Hotux</a></p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="tripadvisor-logo text-center">
                        <img src="/assets/images/tripadvisor.png" alt="image">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright-links mar-bottom-20">
                        <ul>
                            <li><a href="#">Accomodations</a></li>
                            <li><a href="#">Book Now</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <div class="playstore-links">
                        <img src="/assets/images/icons/appstore.png" alt="image" class="mar-right-10">
                        <img src="/assets/images/icons/googleplay.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>