.counter-box {
	height: 150px;
    width: 150px;
}
.counter-box span {
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}

.input-01 {
	font-size: 14px;
	font-weight: 300;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius:0px;
	padding: 10px 20px;
	width: 100%;
	color: #444444;
	margin-bottom: 15px; 
	font-family: 'Lato', sans-serif;
	height: 42px;
	box-shadow: none;
	margin-bottom: 0;
	width: 100%;
}